/* add css module styles here (optional) */

.stdoutLine {
  display: block;
  font-family: monospace;
}

.commandInput {
  border: none;
  font-size: 16px;
  outline: none;
  margin: 0px;
  padding: 0px;
  border-width: 9px;
  user-select: none;
  width: 100%;
  background: none;
  font-family: monospace;
}

.inputLine {
  display: flex;
  overflow-x: hidden;
  font-family: monospace;
}

.stdout {
  height: 100%;
  overflow-y: auto;
}

.prompt {
  display: inline-block;
  white-space: nowrap;
}